*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
    background: url(https://i.postimg.cc/cJFm9rRP/background006.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
}

#pai{
    
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.42);
}
.conteudo{
    padding: 50px;
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    
}
img{
    margin: auto;
   width: 220px;

}
a{
    font-size: 26px;
    color: white;
    text-align: center;
    height: 35px;
    margin: 20px auto;
    width: 80%;
    border: solid 4px rgb(4, 253, 33);
    border-radius: 25px;
    
}

    a:hover{

        border: solid white;
        background-color:rgb(3, 129, 17); 
        transition:background-color 1s;
    }

        /*Responsivo*/
    @media screen and (max-width: 800px){
        #pai{
            height: 100vh;
            margin: -35px auto;
            background-color: rgba(14, 14, 14, 0.33);
        }
        .conteudo{
            padding: none;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.066);
            display: flex;
            flex-direction: column;
            
        }
        img{
            margin: auto;
            width: 200px;
        
        }
        a{
            font-size: 20px;
            color: white;
            text-align: center;
            height: 35px;
            margin-top: 8px;
            width: 100%;
            border: solid 4px rgb(4, 253, 33);
            border-radius: 25px;
            transition: none;
        }
        
            a:hover{
        
                border: solid white 4px;
                background-color:rgb(3, 129, 17); 
                transition: none;
            }
        
    }
